
@import 'stylesheets/globals.scss';


.badge {
  @include DosisFont;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #768c97;
  color: #768c97;
  border-radius: 5px;
  font-size: 10px;
  letter-spacing: 4px;
  width: 60px;
  padding-left: 3px;
  float: right;
}

.prod {
  color: #00dc7c;
  border-color: #00dc7c;
}