

@import 'globals.scss';

html, body {
  min-height: 100vh;
}
html {
  background-color: #110D11;
}

body {
  @include NotoSansFont;
  box-sizing: border-box;
  color: $mainTextColor;
  background-color: #110D11;
}


.center {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}